@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: local('Arvo'), url(Arvo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@media only screen and (max-width: 1650px) {
    /* TO-DO */
    * {
        display: none;
    }
}

@media only screen and (min-width: 1650px) {

    body {
        background-color: rgb(47, 166, 154);
        color: rgb(55, 72, 59);

        font-family: 'Arvo', serif;
    }
    
    a {
        color: inherit;
        cursor: pointer;
        transition: ease 1s;
        text-decoration: underline;
    }
    
    input {
        border-radius: 5px;
        transition: ease 1s;
    }

    a:hover {
        text-decoration: none;
    }
    
    #content {
        background-color: rgb(220, 220, 220);
        
        position: relative;
        top: 30px;
        max-width: 1600px;

        margin: auto;
        padding: 40px;
        border-radius: 20px;
    }
    
    #header {
        padding-bottom: 30px;
        border-bottom: 1px solid;

        border-image: linear-gradient(to left,  rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 24%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 51%, rgba(0,0,0,0.65) 75%, rgba(0,0,0,0) 100%);
        border-image-slice: 1;
    }
    
    #logo > * {
        vertical-align: middle;
    }
    
    #logo {
        font-size: 200%;
    }
    
    #logo img {
        width: 100px;
        margin-right: 30px; 
    }
    
    #info {
        position: absolute;
        top: 20px;
        right: 0px;

        padding: 40px;
    }
    
    #main {
        margin-top: 40px;
    }
    
    #lists {
        width: 250px;
        float: left;

        border-right: 1px solid rgb(55, 72, 59);

        border-image: linear-gradient(to top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 24%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 51%, rgba(0,0,0,0.65) 75%, rgba(0,0,0,0) 100%);
        border-image-slice: 1;
    }
    
    #lists ul li a {
        margin-left: 10px;
    }
    
    #lists ul {    
        list-style-position: inside;
        list-style-image: url('../img/list-icon.png');
    }
    
    #create_new_list {
        list-style-position: inside;
        list-style-image: url('../img/add-icon.png');
    }

    #lists ul li {
        padding: 5px 0;
    }
    
    #current {
        float: right;
        width: 1250px;

        padding: 10px 30px 10px 50px;
    }
    
    #current table {
        text-align: center;
        width: 90%;
        margin: 30px auto;
        border-collapse: collapse;
    }
    
    #current table, #current th, #current td {
        border: 1px solid rgb(170, 170, 170);
        padding: 12px;
    }
    
    #current tr:nth-child(even) {
        background-color: rgb(200, 200, 200);
    }
    
    #current th:nth-child(1) { /* Item description column. */
        width: 50%;
    }
    
    #current th:nth-child(2) { /* Amount column. */
        width: 25%;
    }
    
    #current th:nth-child(3) { /* Column for swap buttons. */
        width: 5%;
    }
    
    #current th:nth-child(4) { /* Column for action buttons. */
        width: 20%;
    }
    
    #current table a, #current table input[type="submit"], #current table input[type="reset"] {
        cursor: pointer;
        text-decoration: none;
        outline: none;
        border: none;
        font: inherit;

        border-radius: 5px;
    }

    #current table a {
        padding: 7px 10px;
        margin: 5px;
    }

    #current table input[type="submit"], #current table input[type="reset"] {
        padding: 7px 10px;
        margin: 0 5px;
    }
    
    .yellow {    
        background-image: linear-gradient(to bottom, rgb(255, 193, 7) 0%, rgb(225, 173, 0) 100%);
        color: inherit;
    }
    
    .red {
        background-image: linear-gradient(to bottom, rgb(220, 53, 69) 0%, rgb(170, 33, 59) 100%);
        color: white;
    }
    
    .green {
        background-image: linear-gradient(to bottom, rgb(40, 167, 69) 0%, rgb(10, 137, 49) 100%);
        color: white;
    }
    
    .blue {
        background-image: linear-gradient(to bottom, rgb(0, 123, 255) 0%, rgb(0, 103, 205) 100%);
        color: white;
    }
    
    .swap {
        position: relative;
        top: 22px;
    }
    
    .red:hover, .blue:hover, .green:hover {
        color: inherit;
    }
    
    .yellow:hover {    
        color: white;
    }
    
    #current input {
        background-color: inherit;
    }

    #current input[type="text"], #current input[type="number"] {
        width: 90%;
    }
    
    #delete_list {
        cursor: pointer;
        float: right;
        background: transparent url('../img/delete-icon.png') center left no-repeat;

        padding-left: 20px;
        margin-bottom: 15px;
    }

    .spacer {
        clear: both;
    }

    #login, #signup {  
        width: 49%;
        margin: auto;
        text-align: center;
    }

    #login {
        float: left;
    }

    #signup {
        float: right;

        border-left: 1px solid rgb(55, 72, 59); 
        border-image: linear-gradient(to top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 24%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 51%, rgba(0,0,0,0.65) 75%, rgba(0,0,0,0) 100%);
        border-image-slice: 1;
    }

    #login table, #signup table {
        margin: auto;
        margin-top: 10px;
    }

    #login table td, #signup table td {
        padding: 10px;
    }

    #login table input[type="submit"], #signup table input[type="submit"] {
        padding: 10px 20px;
        font-weight: bold;
    }

    .error {
        color: rgb(220, 53, 69);
        font-weight: bold;
    }

    .success {
        color: rgb(40, 167, 69);
        font-weight: bold;
    }
    
    #lists_message, #signup_message, #login_message {        
        transition: 2s ease;
        opacity: 0;
    }
}